<gridstack [options]="gridOptions" (addedCB)="onAdd($event)" (changeCB)="onChange($event)" (removedCB)="onRemove($event)">
  <gridstack-item *ngFor="let item of items; trackBy: identifyWidget" [options]="getGridstackWidget(item)" (mouseenter)="item.grid.hovering = true" (mouseleave)="item.grid.hovering = false">
    <div class="position-relative w-100 h-100">
      <div class="dropdown">
        <div class="ui-more-options-handle position-absolute bi bi-three-dots" style="right: 2px; top: -2px;" [hidden]="!item.grid.hovering" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"></div>
        <ul class="dropdown-menu dropdown-menu-end" style="position: absolute;">
          <ng-container [ngSwitch]="item.type">
            <li *ngSwitchCase="'chart'"><a class="dropdown-item" (click)="editChartWidgetModal(item)">Edit</a></li>
            <li *ngSwitchCase="'text'"><a class="dropdown-item" (click)="editTextWidgetModal(item)">Edit</a></li>
          </ng-container>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="deleteWidgetModal(item)">Remove</a></li>
        </ul>
      </div>
      <ng-container [ngSwitch]="item.type">
        <div *ngSwitchCase="'chart'" class="d-flex flex-column w-100 h-100" style="overflow: hidden;">
          <div style="flex-grow: 1; min-width: 0; min-height: 0;">
            <canvas baseChart
                    class="chart"
                    [data]="getChartData(item)['data']"
                    [options]="getChartData(item)['options']"
                    [type]="getChartData(item)['type']">
            </canvas>
          </div>
        </div>
        <div *ngSwitchCase="'text'" class="w-100 h-100 ql-editor pt-0 pb-0 ps-0 pe-0" style="overflow-y: auto;">
          <div class="pt-2 pb-2 ps-2 pe-2" [innerHtml]="item.text?.htmlContent"></div>
        </div>
      </ng-container>
    </div>
  </gridstack-item>
</gridstack>
