<!--<canvas baseChart
        class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
</canvas>-->

<gridstack [options]="gridOptions" (changeCB)="onChange($event)">
  <gridstack-item *ngFor="let item of items" [options]="item">
    Item {{item.id}}
    <canvas baseChart
            class="chart"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </gridstack-item>
</gridstack>
