@import './styles/_base.scss';

@import './styles/bootstrap.scss';
@import './styles/bootstrap-icons.scss';
@import './styles/floating-label.scss';
@import './styles/gridstack.scss';
@import './styles/ng-select.scss';
@import './styles/ngx-color.scss';
@import './styles/quill.scss';

@import '../node_modules/quill/dist/quill.snow.css';

$navbar-height: 48px;

.navbar {
  height: $navbar-height;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--bs-border-color-translucent);
}

.navbar-main {
  z-index: 1045;
}

.navbar-sub {
  top: 0;
  height: 40px;

  .nav-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &[aria-expanded="true"] {
    top: $navbar-height;
  }
}

.navbar-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.offcanvas-start.sidebar {
  height: calc(100vh - $navbar-height);
  top: unset;
  bottom: 0;
}
