<ng-container *ngIf="isLoading">
  <div style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; background-color: color-mix(in srgb, var(--bs-body-bg) 50%, transparent); z-index: 100;">
  </div>
  <div style="position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: 100;">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="form" [formGroup]="form">
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Edit User</h4>
      <div class="text-muted">Edit details of one of the users in your environment.</div>
    </div>
  </div>

  <div class="box mt-3">
    <div class="box-title mt-2 d-flex align-items-center">
      <span class="bi bi-person fs-3"></span>
      <h5 class="ms-2">User Information</h5>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userName" class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input id="userName" type="text" [class]="isEditing ? 'form-control' : 'form-control-plaintext'" [readonly]="!isEditing" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userIsActive" class="col-sm-4 col-form-label">Is active?</label>
          <div class="col-sm-8">
            <ng-select id="userIsActive"
                       formControlName="isActive"
                       [clearable]="false"
                       [selectOnTab]="true"
                       [class]="isEditing ? '' : 'plaintext'">
              <ng-option [value]="true">Active</ng-option>
              <ng-option [value]="false">Inactive</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userUsername" class="col-sm-4 col-form-label">Username</label>
          <div class="col-sm-8">
            <input id="userUsername" type="text" [class]="isEditing ? 'form-control' : 'form-control-plaintext'" [readonly]="!isEditing" formControlName="username" />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userEmailAddress" class="col-sm-4 col-form-label">Email address</label>
          <div class="col-sm-8">
            <input id="userEmailAddress" type="text" [class]="isEditing ? 'form-control' : 'form-control-plaintext'" [readonly]="!isEditing" formControlName="emailAddress" />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userPassword" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input id="userPassword" type="password" [class]="isEditing ? 'form-control' : 'form-control-plaintext'" [readonly]="!isEditing" formControlName="password" />
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="userPasswordChanged" class="col-sm-4 col-form-label">Last changed at</label>
          <div class="col-sm-8">
            <input-luxon-datetime id="userPasswordChanged" class="col-sm-4 col-form-label" [readonly]="true" formControlName="lastPasswordChangeAt"></input-luxon-datetime>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box mt-3">
    <div class="box-title mt-2 d-flex align-items-center">
      <span class="bi bi-person fs-3"></span>
      <h5 class="ms-2">Metadata</h5>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row mt-3">
          <label for="userCreatedAt" class="col-sm-4 col-form-label">Created at</label>
          <div class="col-sm-8">
            <input-luxon-datetime id="userCreatedAt" class="col-sm-4 col-form-label" [readonly]="true" formControlName="createdAt"></input-luxon-datetime>
          </div>
        </div>
        <div class="row mt-3">
          <label for="userCreatedBy" class="col-sm-4 col-form-label">Created by</label>
          <div class="col-sm-8">
            <input id="userCreatedBy" type="text" readonly class="form-control-plaintext" formControlName="createdByUserId" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row mt-3">
          <label for="userModifiedAt" class="col-sm-4 col-form-label">Modified at</label>
          <div class="col-sm-8">
            <ng-container *ngIf="form.controls.modifiedAt.value; else noModifiedAt">
              <input-luxon-datetime id="userModifiedAt" class="col-sm-4 col-form-label" [readonly]="true" formControlName="modifiedAt"></input-luxon-datetime>
            </ng-container>
            <ng-template #noModifiedAt>
              <input id="userModifiedAt" type="text" readonly class="form-control-plaintext" value="Never" />
            </ng-template>
          </div>
        </div>
        <div class="row mt-3">
          <label for="userModifiedBy" class="col-sm-4 col-form-label">Modified by</label>
          <div class="col-sm-8">
            <ng-container *ngIf="form.controls.modifiedByUserId.value; else noModifiedBy">
              <input id="userModifiedBy" type="text" readonly class="form-control-plaintext" formControlName="modifiedByUserId" />
            </ng-container>
            <ng-template #noModifiedBy>
              <input id="userModifiedBy" type="text" readonly class="form-control-plaintext" value="Never" />
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box mt-3">
    <div class="box-title mt-2 d-flex align-items-center">
      <span class="bi bi-shield-lock fs-3"></span>
      <h5 class="ms-2">Global Permissions</h5>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="row">
          <label for="aclSecurableType" class="col-sm-2 col-form-label">Entity Type</label>
          <div class="col-sm-10">
            <ng-select id="aclSecurableType">
              <ng-option [value]=""><span class="bi bi-people"></span> Groups</ng-option>
              <ng-option [value]=""><span class="bi bi-bar-chart"></span> Metrics</ng-option>
              <ng-option [value]=""><span class="bi bi-globe"></span> Monitored environments</ng-option>
              <ng-option [value]=""><span class="bi bi-database"></span> Monitored query targets</ng-option>
              <ng-option [value]=""><span class="bi bi-cpu"></span> Monitored resources</ng-option>
              <ng-option [value]=""><span class="bi bi-hdd-network"></span> Monitored script targets</ng-option>
              <ng-option [value]=""><span class="bi bi-diagram-3"></span> Monitored systems</ng-option>
              <ng-option [value]=""><span class="bi bi-filetype-sql"></span> Queries</ng-option>
              <ng-option [value]=""><span class="bi bi-file-earmark-code"></span> Scripts</ng-option>
              <ng-option [value]=""><span class="bi bi-person"></span> Users</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableTypePermission" class="col-sm-4 col-form-label">Permission</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableTypePermission">
              <ng-option [value]=""><span class="bi bi-book-half text-info"></span> Read</ng-option>
              <ng-option [value]=""><span class="bi bi-pencil-fill text-warning"></span> Write</ng-option>
              <ng-option [value]=""><span class="bi bi-trash-fill text-danger"></span> Delete</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableTypeGrant" class="col-sm-4 col-form-label">Access type</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableTypeGrant">
              <ng-option [value]=""><span class="bi bi-unlock-fill text-success"></span> Grant</ng-option>
              <ng-option [value]=""><span class="bi bi-lock-fill text-danger"></span> Deny</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 d-flex justify-content-center">
        <button class="btn btn-primary">
          <span class="bi bi-arrow-down-square"></span>
          Grant Permission
        </button>
      </div>
    </div>
    <div class="mt-3">
      <app-table [data]="[{}]">
        <ng-template #headers>
          <th>Entity Type</th>
          <th>Permission</th>
          <th>Type</th>
          <th>Actions</th>
        </ng-template>
        <ng-template #rows let-row>
          <td><span class="bi bi-bar-chart"></span> Metrics</td>
          <td><span class="bi bi-book-half text-info"></span> Read</td>
          <td><span class="bi bi-unlock-fill text-success"></span> Grant</td>
          <td><a href="javascript:void(0);">Revoke</a></td>
        </ng-template>
      </app-table>
    </div>
  </div>

  <div class="box mt-3">
    <div class="box-title mt-2 d-flex align-items-center">
      <span class="bi bi-file-earmark-lock fs-3"></span>
      <h5 class="ms-2">Record Permissions</h5>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableIdType" class="col-sm-4 col-form-label">Entity Type</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableIdType">
              <ng-option [value]=""><span class="bi bi-people"></span> Group</ng-option>
              <ng-option [value]=""><span class="bi bi-bar-chart"></span> Metric</ng-option>
              <ng-option [value]=""><span class="bi bi-globe"></span> Monitored environment</ng-option>
              <ng-option [value]=""><span class="bi bi-database"></span> Monitored query target</ng-option>
              <ng-option [value]=""><span class="bi bi-cpu"></span> Monitored resource</ng-option>
              <ng-option [value]=""><span class="bi bi-hdd-network"></span> Monitored script target</ng-option>
              <ng-option [value]=""><span class="bi bi-diagram-3"></span> Monitored system</ng-option>
              <ng-option [value]=""><span class="bi bi-filetype-sql"></span> Query</ng-option>
              <ng-option [value]=""><span class="bi bi-file-earmark-code"></span> Script</ng-option>
              <ng-option [value]=""><span class="bi bi-person"></span> User</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableId" class="col-sm-4 col-form-label">Entity</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableId">
              <ng-option [value]="">Record</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableIdPermission" class="col-sm-4 col-form-label">Permission</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableTypePermission">
              <ng-option [value]=""><span class="bi bi-book-half text-info"></span> Read</ng-option>
              <ng-option [value]=""><span class="bi bi-pencil-fill text-warning"></span> Write</ng-option>
              <ng-option [value]=""><span class="bi bi-trash-fill text-danger"></span> Delete</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row">
          <label for="aclSecurableIdGrant" class="col-sm-4 col-form-label">Access type</label>
          <div class="col-sm-8">
            <ng-select id="aclSecurableIdGrant">
              <ng-option [value]=""><span class="bi bi-unlock-fill text-success"></span> Grant</ng-option>
              <ng-option [value]=""><span class="bi bi-lock-fill text-danger"></span> Deny</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 d-flex justify-content-center">
        <button class="btn btn-primary">
          <span class="bi bi-arrow-down-square"></span>
          Grant Permission
        </button>
      </div>
    </div>
    <div class="mt-3">
      <app-table [data]="[{}]">
        <ng-template #headers>
          <th>Entity Type</th>
          <th>Entity</th>
          <th>Permission</th>
          <th>Type</th>
          <th>Actions</th>
        </ng-template>
        <ng-template #rows let-row>
          <td><span class="bi bi-bar-chart"></span> Metric</td>
          <td>CPU</td>
          <td><span class="bi bi-book-half text-info"></span> Read</td>
          <td><span class="bi bi-lock-fill text-danger"></span> Deny</td>
          <td><a href="javascript:void(0);">Revoke</a></td>
        </ng-template>
      </app-table>
    </div>
  </div>

</ng-container>
