<!--<div style="height: 2px; background-color: var(--bs-body-color); position: relative; "></div>-->
<ng-container *ngIf="isFilterGroup(filter)">
  <div class="d-flex flex-row" style="gap: 10px;">
    <span class="bi bi-x-lg" style="margin-top: 7px; margin-left: 6.5px;"></span>
    <ng-select [(ngModel)]="filter.operator"
               [clearable]="false"
               [selectOnTab]="true"
               style="width: 100px;">
      <ng-option value="and">And</ng-option>
      <ng-option value="or">Or</ng-option>
    </ng-select>
  </div>
  <div class="d-flex flex-row" style="position: relative;">
    <div style="width: 30px; position: relative;">
      <div style="position: relative; left: 50%; transform: translateX(-50%); width: 2px; background-color: var(--bs-body-color); height: calc(100% + 22px); top: 0px;"></div>
    </div>
    <span class="bi bi-x-lg" style="margin-top: 7px; margin-left: 6.5px;"></span>
    <div class="w-100">
      <ng-container *ngFor="let condition of conditions; let i = index">
        <div class="offshoot">
          <filter-builder-group [(filter)]="conditions[i]"
                                [properties]="properties"></filter-builder-group>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="dropdown offshoot" style="margin-left: 30px;">
    <a class="dropdown-toggle d-block" style="margin-top: 6px;" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="bi bi-plus-square">Add</span>
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="javascript:void(0);" (click)="addGroup()">Group</a></li>
      <li><a class="dropdown-item" href="javascript:void(0);" (click)="addProperty()">Property</a></li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="!isFilterGroup(filter)">
  <div class="container-fluid" style="padding: 0;">
    <div class="row">
      <div class="col-md-auto">
        <ng-select [(ngModel)]="filter.property"
                   [clearable]="false"
                   [selectOnTab]="true"
                   class="auto-grow">
          <ng-option *ngFor="let property of properties" [value]="property.name">{{property.displayName}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-auto">
        <ng-select [(ngModel)]="filter.operator"
                   [clearable]="false"
                   [selectOnTab]="true"
                   class="auto-grow">
          <ng-option *ngFor="let operator of getOperators()" [value]="operator">{{getOperatorDisplayName(operator)}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md">
        <ng-container [ngSwitch]="selectedProperty?.type ?? 'string'">
          <input-luxon-datetime *ngSwitchCase="'datetime'" [(ngModel)]="filter.value"></input-luxon-datetime>
          <input *ngSwitchCase="'guid'" type="text" class="form-control" [(ngModel)]="filter.value" />
          <input *ngSwitchCase="'number'" type="number" class="form-control" [(ngModel)]="filter.value" />
          <input *ngSwitchCase="'string'" type="text" class="form-control" [(ngModel)]="filter.value" />
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
