.offshoot {
  position: relative;

  &::before {
    height: 2px;
    width: 12px;
    background-color: var(--bs-body-color);
    content: '';
    position: absolute;
    left: -14px;
    top: 20px;
    display: block;
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.row > * {
}
