<!--<div style="height: 2px; background-color: var(--bs-body-color); position: relative; "></div>-->
<ng-container *ngIf="isFilterGroup(filter)">
  <div>{{filter.operator}}</div>
  <div class="d-flex flex-row" style="position: relative;">
    <div style="width: 30px; position: relative;">
      <div style="position: relative; left: 50%; transform: translateX(-50%); width: 2px; background-color: var(--bs-body-color); height: calc(100%); top: 0px;"></div>
    </div>
    <div>
      <ng-container *ngFor="let condition of conditions; let i = index">
        <div class="offshoot">
          <filter-builder-group [(filter)]="conditions[i]"></filter-builder-group>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <a href="javascript:void(0);">
      <span class="bi bi-plus-square"></span>
      Add
    </a>
  </div>
</ng-container>
<ng-container *ngIf="!isFilterGroup(filter)">
  <div>
    {{filter.property}} {{filter.operator}} {{filter.value}}
  </div>
</ng-container>
