.offshoot {
  position: relative;

  &::before {
    height: 2px;
    width: 12px;
    background-color: var(--bs-body-color);
    content: '';
    position: relative;
    left: -15px;
    top: 20px;
    display: block;
  }
}
