<!-- Filter group -->
<ng-container *ngIf="isFilterGroupForm(filter)" [formGroup]="filter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto" [class]="root ? '' : 'mt-2'">
        <ng-select formControlName="operator"
                   [clearable]="false"
                   [selectOnTab]="true"
                   style="width: 100px;">
          <ng-option value="and">And</ng-option>
          <ng-option value="or">Or</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="group-line h-100">
          <div class="group-line-bar"></div>
        </div>
      </div>
      <div class="col">
        <div *ngFor="let condition of conditions.controls; let i = index" class="row offshoot offshoot-prop position-relative" [formGroup]="condition">
          <div class="col">
            <filter-builder-group [filter]="condition"
                                  [properties]="properties"></filter-builder-group>
          </div>
          <button *ngIf="conditions.length > 1" class="remove-condition btn btn-link" (click)="removeCondition(i)">
            <span class="bi bi-x-lg"></span>
          </button>
        </div>
        <div class="row offshoot offshoot-btn">
          <div class="dropdown col mt-1">
            <a class="add-condition dropdown-toggle d-block" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="bi bi-plus-square">Add</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="addGroup()">Group</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="addProperty()">Property</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Filter property -->
<ng-container *ngIf="!isFilterGroupForm(filter)" [formGroup]="filter">
  <div class="container-fluid filter-property">
    <div class="row">
      <div class="col-md-auto mt-2">
        <ng-select formControlName="property"
                   [clearable]="false"
                   [selectOnTab]="true"
                   class="auto-grow">
          <ng-option *ngFor="let property of properties" [value]="property.name">{{property.displayName}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md-auto mt-2">
        <ng-select formControlName="operator"
                   [clearable]="false"
                   [selectOnTab]="true"
                   class="auto-grow">
          <ng-option *ngFor="let operator of getOperators()" [value]="operator">{{getOperatorDisplayName(operator)}}</ng-option>
        </ng-select>
      </div>
      <div class="col-md mt-2" *ngIf="showOperatorValue()">
        <ng-container [ngSwitch]="selectedProperty?.type ?? 'string'">
          <input-luxon-datetime *ngSwitchCase="'datetime'" formControlName="value"></input-luxon-datetime>
          <input *ngSwitchCase="'guid'" type="text" mask="XXXXXXXX-XXXX-4XXX-8XXX-XXXXXXXXXXXX" [patterns]="guidPatterns" class="form-control" formControlName="value" />
          <input *ngSwitchCase="'number'" type="number" class="form-control" formControlName="value" />
          <input *ngSwitchCase="'string'" type="text" class="form-control" formControlName="value" />
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
