<ng-container *ngIf="placeholder; else noLabel">
  <div class="floating-label">
    <input [id]="id"
           type="datetime-local"
           [class]="readonly ? 'form-control-plaintext' : 'form-control'"
           [disabled]="disabled && !readonly"
           [readonly]="readonly"
           [(ngModel)]="value" />
    <label [for]="id">{{placeholder}}</label>
  </div>
</ng-container>

<ng-template #noLabel>
  <input [id]="id"
         type="datetime-local"
         [class]="readonly ? 'form-control-plaintext' : 'form-control'"
         [disabled]="disabled && !readonly"
         [readonly]="readonly"
         [(ngModel)]="value" />
</ng-template>
