<div class="top-spacer"></div>

<h4 class="mt-3" style="font-weight: bold;">
  Monitored Systems List
</h4>

<div class="top-spacer"></div>

<!--<div class="input-group">
  <div class="floating-label">
    <input id="search" type="text" class="form-control" placeholder=" " />
    <label for="search">Name</label>
  </div>
  <button class="btn btn-primary">
    <span class="bi bi-search"></span>
  </button>
  <button class="btn btn-primary" (click)="openFilters()">
    <span class="bi bi-caret-down-fill"></span>
  </button>
</div>-->

<app-table [data]="records">
  <ng-template #headers>
    <th app-table-header="name" type="string" [sortable]="true" [filterable]="true">Name</th>
    <th app-table-header="isActive" type="boolean" [sortable]="true" [filterable]="true">Active?</th>
    <th app-table-header="createdAt" type="datetime" [sortable]="true" [filterable]="true">Created at</th>
    <th>Actions</th>
  </ng-template>

  <ng-template #rows let-row>
    <td>{{row.name}}</td>
    <td>{{row.isActive ? 'Active' : 'Inactive'}}</td>
    <td>{{row.createdAt.startOf('minute').toLocaleString()}}</td>
    <td><a [routerLink]="['/monitored-system/', row.id]">Edit</a></td>
  </ng-template>
</app-table>
