.box {
  @extend .bg-body-tertiary;

  position: relative;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 6px;
  padding: 0 15px 15px 15px;

  .box-title {
    padding-bottom: 7.5px;
    margin-bottom: -7.5px;
    border-bottom: 1px solid var(--bs-border-color-translucent);

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0px;
    }
  }
}
