<table class="table table-transparent table-striped table-hover mb-0">
  <thead>
    <tr>
      <ng-container *ngTemplateOutlet="
                    headers || defaultHeaders;
                    context: { $implicit: data }"></ng-container>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let datum of data">
      <ng-container *ngTemplateOutlet="
                    rows || defaultRows;
                    context: { $implicit: datum }"></ng-container>
    </tr>
    <tr *ngFor="let n of minRows - data.length | iterate">
      <td colspan="999" class="unselectable">&nbsp;</td>
    </tr>
  </tbody>
</table>

<ng-template #defaultHeaders>
  <th *ngFor="let header of getDefaultHeaders()">
    {{header}}
  </th>
</ng-template>

<ng-template #defaultRows let-datum>
  <td *ngFor="let header of getDefaultHeaders()">
    {{datum[header]}}
  </td>
</ng-template>
